/** RESET **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 70px;
    /*font-family: fantasy;*/
    font-size: 22px;
}

li a {
    /*color: oldlace;*/
    text-decoration: none;
}